/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(103, 28, 142) 0%,
    rgb(0, 102, 70) 69%,
    rgb(0, 127, 85) 89%
  ) !important;
  height: 100vh;
  .ui.container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .ui.huge.inverted.button:hover {
    .right.arrow.inverted.icon {
      color: #111;
    }
  }

  .ui.menu .ui.button,
  .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
  }
  h1.ui.header {
    font-size: 3em;
    font-weight: 600;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 500;
  }
}
