/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(103, 28, 142) 0%,
    rgb(0, 102, 70) 69%,
    rgb(0, 127, 85) 89%
  ) !important;
  height: 100vh;
  .ui.container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .ui.huge.inverted.button:hover {
    .right.arrow.inverted.icon {
      color: #111;
    }
  }

  .ui.menu .ui.button,
  .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
  }
  h1.ui.header {
    font-size: 3em;
    font-weight: 600;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 500;
  }
}

.hero-section {
  text-align: center;
  color: #fff;
  padding: 3rem;
  min-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url(/assets/img/bg-home.png),
    linear-gradient(
      135deg,
      rgb(103, 28, 142) 0%,
      rgb(0, 102, 70) 69%,
      rgb(0, 127, 85) 89%
    ) !important;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    @media only screen and (max-width: 680px) {
      font-size: 1.5rem;
    }
  }
  .actions {
    .ui.button {
      margin: 0.5rem;
    }
    @media only screen and (max-width: 680px) and (min-width: 563px) {
      padding: 0 6rem;
    }
    @media only screen and (max-width: 662px) and (min-width: 531px) {
      padding: 0 4.5rem;
    }
    @media only screen and (max-width: 530px) {
      padding: 0;
    }
  }
}

.home-news {
  min-height: calc(100vh - 30px);
  padding-left: 2.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("/assets/img/speducator-reading.jpg");
  background-position: center;
  background-size: cover;
  > * {
    width: 24rem;
  }
  h2 {
    font-size: 3.2rem;
    font-weight: 400;
  }
  p {
    font-size: 1.2rem;
  }
  button {
    width: auto !important;
  }
}

.home-shortage {
  text-align: center;
  color: #fff;
  padding: 0 12rem;
  min-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #008a3b;
  h2 {
    max-width: 720px;
    font-weight: 400;
    font-size: 3.2rem;
  }
  p {
    max-width: 720px;
    font-size: 1.2rem;
  }
  .ui.button {
    width: auto !important;
  }
}

.footer-wrap {
  > .main-footer {
    margin-top: 0 !important;
  }
}
