.jobs-search-form {
  margin-bottom: 1.5rem;
  .term {
    padding-right: 0.25rem;
    @media only screen and (max-width: 766px) {
      padding-right: 0;
      margin-bottom: 0.5rem;
    }
  }
  .location {
    text-align: left;
    padding: 0 0.25rem;
    @media only screen and (max-width: 766px) {
      padding: 0;
      margin-bottom: 0.5rem;
    }
  }
  .submit {
    padding-left: 0.3rem;
    margin-top: 1px;
    @media only screen and (max-width: 766px) {
      padding-left: 0;
    }
  }
}

.job-list {
  max-width: 542px;
  .job-list-item {
    padding-bottom: 0.5rem;
    h3 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
}
