.flex-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  > * {
    flex: 0 0 auto;
  }
  > .grow {
    flex: 1 1 auto;
  }
  &.column {
    flex-direction: column;
  }
}

@media only screen and (max-width: 991px) {
  .flex-wrap.md {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .flex-wrap.sm {
    flex-direction: column;
  }
}
