/* Global Styles */
/* green:  006646 */
/* purple: 671c8e */
/*---  Colors from semantic ---
@black            : #1B1C1D;
@blue             : #2196F3;
@green            : #4CAF50;
@grey             : #9E9E9E;
@orange           : #FF9800;
@pink             : #E91E63;
@purple           : #9C27B0;
@red              : #F44336;
@teal             : #1de9b6;
@yellow           : #FFEB3B;

Light Colors
@lightBlack       : #333333;
@lightBlue        : #2979FF;
@lightGreen       : #00E676;
@lightOrange      : #FF9100;
@lightPink        : #F50057;
@lightPurple      : #D500F9;
@lightRed         : #FF1744;
@lightTeal        : #1DE9B6;
@lightYellow      : #FFEA00;

Neutrals
@fullBlack        : #000000;
@darkGrey         : #AAAAAA;
@lightGrey        : #DCDDDE;
@offWhite         : #FAFAFA;
@darkWhite        : #F0F0F0;
@white            : #FFFFFF;

primary rgb: rgba(0, 102, 70, 1.0)
*/

:root {
  --primary-color: #006646;
  --primary-color-dark: #005639;
  --primary-color-darker: #004931;
  --primary-rgba: rgba(0, 102, 70, 1);
  --primary-clear: rgba(0, 102, 70, 0);
  --primary-color-hover: #005e50;
  --secondary-color: #671c8e;
  --secondary-color-hover: #5c197f;
  --dark-color: #343a40;
  --light-color: #f6f6f5;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --border-color: #a3a3a2;
}

.primary {
  color: var(--primary-color);
}

h1:first-line,
h2:first-line {
  line-height: 1em;
}

/* pagination */
.ui.pagination.menu.questions {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif !important;
}

/*timepicker style*/
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* .footer.segment {
    padding: 5em 0;
  } */

.secondary.inverted.pointing.menu {
  border: none;
}

/*chat comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}

/* dropzone styles */
.dropzone {
  border: dashed 3px #eee;
  border-radius: 5px;
  padding-top: 30px;
  text-align: center;
  /* min-height: 236px; */
}

.dropzone--isActive {
  border: dashed 3px green;
}

// placeholder
.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: #999;
}

// ask-question-modal
.ask-question-modal {
  .ui.button {
    padding: 0.625rem 0.8rem 0.5rem 0.75rem;
  }
}
